body {
    margin: 0px;
    background-color: #efefef;
    color: #b80807;
}
.buttons-link {
    height: 40px;
}

.buttons-link a {
    color:#b80807;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}